.App {
  text-align: center;
}

body {
  background: radial-gradient(circle, #353535, #000814, #61dafb);
  background-size: 200% 200%; /* For animated gradients */
  animation: gradientAnimation 10s ease infinite; /* Optional: animate gradient */
  margin: 0; /* Ensure no white spaces around the background */
  padding: 0; /* Ensure no padding around content */
  min-height: 100vh; /* Full viewport height */
  font-family: Arial, sans-serif; /* Optional: Global font */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-image{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
  border: 1px solid #ffff;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-size: cover;
  background-position: center;
  background-color: #5ab1bb;
  border: 1px solid transparent;
  padding: var(--mantine-spacing-xl);
  flex: 0 0 280px;
  height: 25rem;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-md);
  }
}

.contactTitle {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-size: 3rem;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin-bottom: var(--mantine-spacing-xl);
  }
}

.section-header .highlight{
  position: relative;
  background-color: rgba(41, 203, 221, 0.25);
  border-radius: 5%;
  padding: 4px 10px;
}

.section-header{
  color: var(--mantine-color-white);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 104px;
  line-height: 1.2;
  font-weight: 900;
  padding: 40px;

  @media (max-width: var(--mantine-breakpoint-xs)) {
    font-size: 28px;
  }
}

.section-body{
  font-size: 1.5rem;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin: 20px 0;
  padding: 20px;
}

.profile-image:hover{
  filter: brightness(0.8);
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
