/* Mantine breakpoints */
:root {
  --mantine-breakpoint-xs: 480px;
  --mantine-breakpoint-sm: 640px;
  --mantine-breakpoint-md: 768px;
  --mantine-breakpoint-lg: 1024px;
  --mantine-breakpoint-xl: 1280px;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
